/* *{
    background-color: #181a1b;
} */
div {
    background-color: #181a1b;
}

html,
body,
input,
span {
    background-color: #181a1b !important;
    /* color: green; */
}

.badge-image {
    padding: 5px;
}


input {
    color: white !important;
}

#connect-status {
    color: red;
    vertical-align: middle;
    line-height: 34px;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0;
}

hr {
    margin-top: 3rem !important;
    border: 0 !important;
    border-top: 1px solid rgba(255,255,255,1) !important;
}